@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is a C# ASP.NET web application developed by Ralph N. Williams for the pourpose of demonstarting some of his basic development skills.</p>

<p>
    This web application follows a MVC architecture and utilizes the Bootstrap framework for responsive UI design.
    There are several items that demonstrate a through understanding of MVC as well as the Entity Framework.
</p>
<p>
    ASP.NET MVC is a powerful platform for building web applications and the included Entity framework adds additional functionality for
    easily connecting to and/or creating external databases.
</p>
<p>
    This project collects demographic information for an individual and utilizies a "Code First Approach" to creating the accompanying
    database and associated tables to store this information.
</p>




Creating a Controller utilizing the Entity framework allows the simple creation of CRUD views
    that are linked to a Model due to the ability to work with relational data using domain-specific objects. 