@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<legend><span class="glyphicon glyphicon-globe contact"></span> @ViewBag.Message</legend>
<address>
    <strong>Ralph N. Williams</strong><br>
    N6455 Long Meadow Dr.<br>
    Elkhorn, WI 53121
</address>
<address>
    <abbr title="Phone">
        Home:&nbsp;&nbsp;(262) 642-2077
    </abbr>
    <br />
    <abbr class="indent" title="Cell">
        Cell:&nbsp;&nbsp;(262) 812-9747
    </abbr>
    <br />
    <abbr class="indent" title="Fax">
        Fax:&nbsp;&nbsp;(262) 642-2364
    </abbr>
</address>
<address>
    <a href="mailto:williamsrn@outlook.com">williamsrn@outlook.com</a>
</address>